
.content{
    width: 85%;
    max-width: 1200px;
    margin: 50px auto 0;
    padding: 40px 0;
    background-color: rgb(23,24,47,0.8);
}
.swiper-box{
    width: 78%;
    margin: 0 auto;
    position:relative;
    color: #e1eeff;
}
.swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide{
      padding-bottom: 40px;
  }
  .swiper-slide h6{
      margin-bottom: 26px;
      font-size: 18px;
      line-height: 26px;
      font-weight: 900;
      text-align: center;
  }
  .swiper-slide img{
      width: 100%;
  }
  .swiper-slide .txt{
      margin-top: 26px;
    font-size: 14px;
    line-height: 22px;
  }
  
  .swiper-button-prev{
      left: -10%;
  }
  .swiper-button-next{
      right: -10%;
  }
  .swiper-pagination-bullet{
    width: 12px;
    height: 6px;
    background: #ffbb12;
    opacity: .35;
    border-radius: 0;
  }
  .swiper-pagination-bullet-active{
    opacity: 1;
}
  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
      margin: 0 8px;
  }
  .swiper-container-horizontal>.swiper-pagination-bullets{
      bottom: 0;
  }
  .swiper-button-next:after, .swiper-button-prev:after{
      font-size: 30px;
      font-weight: 900;
      color: #8294aa;
  }