body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,input,button,textarea,p,blockquote,th,td,form,pre{margin: 0; padding: 0; -webkit-tap-highlight-color:rgba(0,0,0,0);}
a{text-decoration: none;}
a:active,a:hover{outline:0}
img{display: inline-block; border: none; vertical-align: middle;}
li{list-style:none;}
table{border-collapse: collapse; border-spacing: 0;}
h1,h2,h3{font-weight: 400;}
h4, h5, h6{font-size: 100%; font-weight: 400;}
button,input,select,textarea{font-size: 100%; }
input,button,textarea,select,optgroup,option{font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; outline: 0;}
pre{white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;}
.clearfix::after{
    content: '';
    display: block;
    height: 0;
    clear: both;
}
body{
    background: url(../img/bk_1.jpg) left top no-repeat;
    background-size: cover;
}
.head{
    padding-top: 57px;
    height: 106px;
    position: relative;
    background-color: #02151e;
}
.head img{
    width: 250px;
    position:absolute;
    left: 50%;
    top: 15px;
    margin-left: -125px;
    z-index: 5;
}
.head-body{
    width: 1028px;
    height: 56px;
    margin: 0 auto;
    border-radius: 32px;
    border:3px solid #ffbb12;
}
.head-body li{
    float: left;
    width: 165px;
    font-size: 30px;
    margin-right: 40px;
    line-height: 56px;
    font-weight: 900;
    text-align: center;
}
.head-body li:last-child{
    margin: 0;
}

.head-body li.sel a{
    color: #02151e;
    border-radius: 32px;
    background-color: #ffbb12;
}
.head-body li:nth-child(2){
    margin-right: 288px;
}
.head-body li a{
    display: block;
    color: #ffbb12;
}

.footer{
    margin: 90px 0 50px;
 }
 .footer p {
     text-align: center;
     font-size: 18px;
     font-weight: 200;
     line-height: 32px;
     color: #e1eeff;
 }