.content{
    width: 85%;
    max-width: 1200px;
    margin: 76px auto 0;
    color: #fff;
}

.list{
    width: 100%;
}
.list li{
    margin-bottom: 50px;
}
.list li::after{
    content: '';
    display: block;
    height: 0;
    clear: both;
}
.list .left{
    float: left;
    width: 200px;
}
.list .left img{
    width: 100%;
}
.list .rig{
    width: 970px;
    float: right;
}
.list .rig h6{
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
}
.list .rig p{
    margin: 12px 0 22px;
    font-size: 14px;
    line-height: 22px;
}
.list .rig a{
    width: 58px;
    height: 26px;
    border-radius: 5px;
    background-color: #febd68;
    float: left;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    color: #1b2939;
    font-weight: bold;
   
}

.list .rig span{
    float: right;
    font-size: 14px;
    line-height: 26px;
}
.pagination-wrapper{
    text-align: center;
    font-size: 0;
}
.pagination-wrapper a{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #febd68;
    border-right: none;
    color: #febd68;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
}
.pagination-wrapper a.active{
    background: #febd68;
    color: #06181e;
}
.pagination-wrapper a.prev{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination-wrapper a.next{
    border-right: 1px solid #ffbb12;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
